In [14]:
#打开txt文件
file = open('./2181200_Q_Day.Cmd.txt','r')

In [16]:
file = open('./2181200_Q_Day.Cmd.txt','r')

In [18]:
file.close()

In [20]:
file.read()

ValueError: I/O operation on closed file.

In [22]:
with open('./2181200_Q_Day.Cmd.txt','r') as work_data:
    file = work_data.read()

In [24]:
import shutil

In [26]:
shutil.copy("./2181200_Q_Day.Cmd.txt","./2181200_Q_Day.Cmd.modified.txt")

'./2181200_Q_Day.Cmd.modified.txt'

In [30]:
with open("./2181200_Q_Day.Cmd.modified.txt","a+") as work_data:
    file = work_data.write("\nAbove is the full data")

In [37]:
import pandas as pd

In [49]:
csv_file = './pre_test.csv'
csv_data = pd.read_csv(csv_file)
csv_data

        站名      年-月-日      起      止  降雨量（mm)
0   北洛河大荔站   1990/6/7   1:00   2:00      0.1
1   北洛河大荔站   1990/6/7   2:00   8:00      8.6
2   北洛河大荔站   1990/6/7   8:00  11:00      0.6
3   北洛河大荔站  1990/6/10  19:00  20:00      0.1
4   北洛河大荔站  1990/6/10  20:00   1:00      2.6
5   北洛河大荔站  1990/6/14   7:00   8:00      1.5
6   北洛河大荔站  1990/6/14   8:00   9:00      3.6
7   北洛河大荔站  1990/6/14   9:00  14:00      0.5
8   北洛河大荔站  1990/6/14  14:00  18:00      0.2
9   北洛河大荔站  1990/6/17  11:00  14:00      3.4
10  北洛河大荔站  1990/6/17  14:00  16:00      1.1

In [51]:
df = pd.read_excel("./pre_test.xlsx")
df.head()

,站名,年-月-日,起,止,降雨量（mm),Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14
0,北洛河大荔站,1990-06-07,01:00:00,02:00:00,0.1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,北洛河大荔站,1990-06-07,02:00:00,08:00:00,8.6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,北洛河大荔站,1990-06-07,08:00:00,11:00:00,0.6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,北洛河大荔站,1990-06-10,19:00:00,20:00:00,0.1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,北洛河大荔站,1990-06-10,20:00:00,01:00:00,2.6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [53]:
cols = [0, 1, 4]
students_grades = pd.read_excel('./pre_test.xlsx', usecols=cols)
students_grades.head()

       站名      年-月-日  降雨量（mm)
0  北洛河大荔站 1990-06-07      0.1
1  北洛河大荔站 1990-06-07      8.6
2  北洛河大荔站 1990-06-07      0.6
3  北洛河大荔站 1990-06-10      0.1
4  北洛河大荔站 1990-06-10      2.6

In [54]:
cols = [0, 2, 3]
students_grades = pd.read_excel('./pre_test.xlsx', usecols=cols)
students_grades.head()

       站名         起         止
0  北洛河大荔站  01:00:00  02:00:00
1  北洛河大荔站  02:00:00  08:00:00
2  北洛河大荔站  08:00:00  11:00:00
3  北洛河大荔站  19:00:00  20:00:00
4  北洛河大荔站  20:00:00  01:00:00